[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
pyyaml = "*"
lazypredict = "*"
plotly = "*"
nbformat = "*"
torch = "*"
jupyter = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
